.editor {
  width: 30%;
  height: 30%;
  padding: 2rem;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  background-color: white;
}

/*form{
	writing-mode: vertical-rl;
	> .field{
		> .outarea {
		  width: 50px;
		  height: 80px;
		  padding: 2rem;
		  -webkit-writing-mode: initial;
		  -moz-writing-mode: initial;
		  writing-mode: initial;
			transform: rotate(90deg);
			transform-origin: top left;

      font-size: 12pt;

		}
	}
}*/
/*.outarea {
  width: 50%;
  height: 50%;
  padding: 2rem;
  -webkit-writing-mode: initial;
  -moz-writing-mode: initial;
  writing-mode: initial;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 140px;
}*/
